/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */
main {
    width: 100%;
}
.new-era {
    height: 913px;
    width: 100%;
    min-width: max-content;
    padding-top: 111px;
    
    text-align: center;
    background: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
}
.new-era_paragraph {
                    
    font-weight: 700;
    font-size: 140px;
    line-height: 171px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.new-era__your-iphone {
    margin-top: 1px;
    
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.03em;
    color: #F5F5F5;
}

.new-era__iphones-img__wrapper {
    margin: 62px auto 0;
    max-width: 1512px;
}

.new-era__iphones-img__wrapper img {
    padding: 0 106px;
    width: 100%;
    height: auto;
}

header {
    padding-top: 245px;
    text-align: center;
    align-items: center;
}

h1 {
    margin: auto;

    font-weight: 700;
    font-size: 64px;
    line-height: 166px;
                
    text-transform: uppercase;
    color: #262525;
    font-family: 'Raleway', sans-serif;
}

.header__decriptinon {
    margin: auto;
    max-width: 967px;
    height: 210px;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 157.4%;
    color: #262525;
}

.choose-iphone {
    margin: 14px auto 0;
    height: 72px;
    display: block;

    vertical-align: text-top;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #262525;

    background-image: url(./resourses/choose-iphone-icon.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

